# Frontend
frontend/node_modules/
frontend/dist/
frontend/pnpm-debug.log*
frontend/npm-debug.log*

# Backend
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/
backend/env/

# Editor/System
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local
